name: RunTime APK Builder
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build
        run: ./gradlew assembleDebug
      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: RunTime-2026-APK
          path: app/build/outputs/apk/debug/app-debug.apk
